.about-us{
  padding-top: 25px;
  margin-bottom: 56px;
}
.about-us__title{
  font-size: 25px;
  margin-bottom: 29px;
}
.about-us__icon{
  display: block;
    margin-bottom: 12px;
    width: 48px;
    text-align: center;
}
.about-us__description{
  display: block;
  font: 17px/1.2 'Opensansbold', sans-serif;
  margin-bottom: 34px;
}
.about-us__icon path{
  fill: #63d1bb;
}