.сommon-menu{
  display: none;
  font-size:0;
}
@include adaptive(pc){
  .сommon-menu{
    display: block;
    margin-left: 50px;
    width: 50%
  }
  .сommon-menu__item{
    display: inline-block;
  }
  .сommon-menu__link{
    display: block;
    font: bold 15px/1 'Opensans',sans-serif;
    color: #231f20;
    padding: 22px 58px 0 0;
    text-decoration: none;
    letter-spacing: .6px;
    @include transition(.2s);
  }
  .сommon-menu__link:hover{
    opacity: .6;
  }
  .сommon-menu__link:active{
    opacity: .6;
  }

}