.contants__list{
  margin-bottom: 42px;
}
.contants__item {
  margin-bottom: 32px;
}
.contants__item-name{
  float: left;
  width:70px;
  margin-right:8px;
}
.contants__item-description{
  overflow: hidden;
  font-style: normal;
}
.contants__item-description--mail{
  display: inline-block;
  border-bottom: 1px solid #63d1bb;
  text-decoration: none;
  color:#444;
}
.contants__wrap-btn{
  margin-bottom: 40px;
}