.contacts{
  margin-bottom: 40px;
  position: relative;
}
.contacts__list{
  margin-bottom: 42px;
  font-size: 0;
}
.contacts__item {
  margin-bottom: 26px;
}
.contacts__item-name{
  float: left;
  width:70px;
  margin-right:8px;
  font-size: 15px;
}
.contacts__item-description{
  overflow: hidden;
  font-style: normal;
  line-height: 1.9;
  font-size: 15px;
  max-width: 300px;
}
.contacts__item-description--mail{
  display: inline-block;
  border-bottom: 1px solid #63d1bb;
  text-decoration: none;
  color:#444;
  line-height: 1.8;
  @include transition(.2s);
}
.contacts__item-description--mail:hover{
  color:#63d1bb;
}
.contacts__item-description--mail:active{
  opacity:.5;
}
.contacts__wrap-btn{
  margin-bottom: 40px;
}
.contacts .container{
    padding-left: 30px;
    padding-right: 30px;
  }
@include adaptive(tablet){
  .contacts .container{
    padding-left: 50px;
    padding-right: 50px;
  }
  .contacts__title{
    font-size: 43px;
    padding: 17px 0 20px;
    border-right: 5px solid #221f1f;
    margin-right: 46px;
    margin-bottom: 46px;
  }
}
@include interval(768px, 1150px){
  .contacts__item {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  .contants__wrap-btn{
    width: 228px;
    margin: 0 auto;
  }
}
@include adaptive(pc){
  .contacts__title{
    font-size: 53px;
    width: 50%;
    padding-left: 160px;
    border-right: none;
    border-left: 5px solid #221f1f;
    box-sizing: border-box;
  }
  .contacts__list{
    width: 50%;
    padding-left: 160px;
    box-sizing: border-box;
  }
  .contacts .container{
    padding-left: 65px;
  }
  .contants__wrap-btn{
    width: 228px;
    margin-left: 160px;
  }
  .contacts{
    padding-top: 60px;
  }
}