.page-form{
  margin-bottom: 52px;
}
.field{
  display: block;
  margin-bottom: 13px;
  width: 100%;
  position: relative;
  min-height: 48px;
}
.field__name{
  font: 17px/1 'Opensansbold', sans-serif;
  position: relative;
  display: block;
  padding-left: 24px;
  overflow: hidden;
  padding-top: 10px;
}
.field__radio,.field__checkbox{
  display: none;
}
.field__radio-dezign{
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #444;
  vertical-align: top;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  @include transition(.2s);
}
.field__radio-dezign:hover{
  border-color: #62d1ba;
}
.field__radio-dezign:active{
  border-color: #e7e7e7;
}
.field__radio:checked + .field__radio-dezign:before{
  content:'';
  position: absolute;
  top: 50%;
  margin-top: -8px;
  background: #62d1ba;
  left:50%;
  margin-left:-8px;
  height: 16px;
  width: 16px;
  border-radius:50%;
}

.field__checkbox-dezign{
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #444;
  float:left;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  cursor:pointer;
  @include transition(.2s);
}
.field__checkbox-dezign:hover{
  border-color: #62d1ba;
}
.field__checkbox-dezign:active{
  border-color: #e7e7e7;
}
.field__checkbox:checked + .field__checkbox-dezign:before{
  content:'';
  position: absolute;
  top: 50%;
  margin-top: -9px;
  background: transparent;
  left:50%;
  margin-left:-9px;
  height: 8px;
  width: 18px;
  border-bottom: 2px solid #444;
  border-left: 2px solid #444;
  transform:rotate(-45deg)
}
.field__name-full{
  display:block;
  font: 17px/1 'Opensansbold', sans-serif;
  padding-top: 4px;
}
.field__text,.field__tel,.field__email{
  border: none;
  border-bottom: 2px solid #444;
  height: 52px;
  width: 100%;
  font-size: 17px;
  margin-bottom: 6px;
  font-family: 'Opensans', sans-serif;
  @include transition(.2s);
  background: transparent;
}
.field__textarea{
  width: 100%;
  height: 142px;
  padding: 16px;
  border: 2px solid #444;
  box-sizing: border-box;
  font: 17px/1 'Opensans', sans-serif;
  @include transition(.2);
}
.field__text:hover,
.field__tel:hover,
.field__email:hover,
.field__textarea:hover,
.field__text:focus,
.field__tel:focus,
.field__email:focus,
.field__textarea:focus,
field__text:valid,
.field__tel:valid,
.field__email:valid,
.field__textarea:valid,
.field__text:active,
.field__tel:active,
.field__email:active,
.field__textarea:active{
  border-color: #62d1ba;

}
.field__tel:hover ~ .field__icon path,.field__email:hover ~ .field__icon path,
.field__tel:focus ~ .field__icon path,.field__email:focus ~ .field__icon path,
.field__tel:valid ~ .field__icon path,.field__email:valid ~ .field__icon path,
.field__tel:active ~ .field__icon path,.field__email:active ~ .field__icon path{
  fill: #62d1ba;
}

.field__tel,.field__email{
  padding-right: 40px;
}
.field__icon {
  position: absolute;
  top: 12px;
  right: 0;
}
.field__icon path{
  fill: #cccccc;
}


.field__tel{
  margin-bottom: 18px;
}
.field__email{
  margin-bottom: 16px;
}

@include adaptive(tablet){
  .field__text, .field__tel, .field__email{
    margin-bottom: 0;
    padding-left: 20px;
  }
  .field__name-full{
    display: block;
    float: left;
    padding-top: 17px;
    margin-right: 30px;
  }
  .field__text-wrap{
    display: block;
    overflow: hidden;
  }
  
}