.map img{
  max-width: 100%;
}
.map {
  margin-bottom: 38px;
  text-align:center;
  background: url(../../img/map-mobile@1x.jpg) no-repeat center center;
  background-size: cover;
  height: 460px;
}
@include interval(0px,768px){
  .map{
    margin-right: -30px;
    margin-left: -30px;
  }
}
@include interval(769px,1150px){
  .map{
    margin-right: -50px;
    margin-left: -50px;
  }
}
@include adaptive(tablet){
  .map{
    margin-bottom: 54px;
  }
}

@include adaptive(pc){
  .map{
    position: absolute;
    top: 0;
    left: 50%;
    width: 525px;
    bottom: 0;
    height: 100%;
    margin-bottom: 0;
  }
}
