$color-green: #62d1ba;
$color-black: #000000;
$color-dark-gray: #444444;

@mixin clearfix(){
  &::after,
  &::before{
    content: "";
    display: table;
  }

  &::after{
    clear: both;
  }
}
@mixin btn_link($font-size: 12px,
$font-family: "Arial",
$height: 40px,
$background: transparent,
$color: #fff,
$hover: #fff,
$scale:1)
{
  display: block;
  font-family: $font-family, "Arial", sans-serif;
  font-size: $font_size;
  line-height: $height * $scale;
  color: $color;
  height: $height*$scale;
  background: $background;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  transition: all 100ms linear;
}
@mixin adaptive($media){
  @if $media == pc{
    @media screen and (min-width: 1150px){@content}
  }
  @else if $media == tablet{
    @media screen and (min-width: 768px){@content}
  }
  @else if $media == smart{
    @media screen and (min-width: 320px){@content}
  }
  @else if $media == retina{
    @media (min-resolution: 144dpi),(min-resolution: 1.5dppx){@content}
  }
}
@mixin container(){
  min-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  @include adaptive(tablet){
    padding-left: 50px;
    padding-right: 50px;
  }

  @include adaptive(pc){
    max-width: 1150px;
  }
}
@mixin interval($start, $end){
  @media screen and (min-width: $start) and (max-width: $end){
    @content
  }
}