

@mixin clearfix(){

  &:after, &:before{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }

}
@mixin border-radius($border-radiys: 3px){
  -webkit-border-radius: $border-radiys;
  -moz-border-radius: $border-radiys;
  border-radius: $border-radiys;
}
@mixin background-size($background_size: cover){
  -webkit-background-size: $background_size;
  -moz-background-size: $background_size;
  -o-background-size: $background_size;
  background-size: $background_size;
}
@mixin transition($time: 100ms){
  -webkit-transition: all $time linear;
  -moz-transition: all $time linear;
  -o-transition: all $time linear;
  transition: all $time linear;
}

//кнопка для инпутов

@mixin btn_link($font-size: 12px,
$font-family: "Arial",
$height: 40px,
$background: transparent,
$color: #fff,
$hover: #fff,
$scale:1)
{			
  width: 100%;
  font-family: $font-family, sans-serif;
  font-size: $font_size;
  line-height: $height * $scale;
  color: $color;
  height: $height*$scale;
  background: $background;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  transition: all 100ms linear;
}
//кнопка для ссылок

@mixin btn_link($font-size: 12px,
$font-family: "Arial",
$height: 40px,
$background: transparent,
$color: #fff,
$hover: #fff,
$scale:1)
{			
  display: block;
  font-family: $font-family, sans-serif;
  font-size: $font_size;
  line-height: $height * $scale;
  color: $color;
  height: $height*$scale;
  background: $background;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  transition: all 100ms linear;
}

//медиа 

@mixin adaptive($media){
  @if $media == pc{
    @media screen and (min-width: 1150px){@content}
  }
  @else if $media == tablet{
    @media screen and (min-width: 768px){@content}
  }
  @else if $media == smart{
    @media screen and (min-width: 320px){@content}
  }

}

@mixin container(){
  min-width: 320px;
  padding-left:30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  
  @include adaptive(tablet){
    padding-left:50px;
    padding-right: 50px;
  }
  
  @include adaptive(pc){
    max-width: 1150px;
  }
}

@mixin interval($start, $end){
  @media screen and (min-width: $start) and (max-width: $end){
    @content
  }
}