.nav-menu{
  //display: none;
}
.nav-menu__item{
  border-top: 1px solid #d3d2d2;
  border-bottom: 1px solid #d3d2d2;
  margin-top:-1px;
}
.nav-menu__link{
  display: block;
  font: bold 17px/1 'Opensansbold',sans-serif;
  color:#231f20;
  padding: 30px 0 30px 45px;
  text-decoration: none;
  position: relative;
}

.nav-menu__icon{
  position: absolute;
  left: 0;
  top:0;
  bottom:0;
  margin: auto;
  height: 20px;
  display:block;
}
.nav-menu__icon svg{
  width: 100%
}
.nav-menu__icon path{
  fill:#d3d2d2;
  @include transition(.2s);
}
.nav-menu__link:hover path{
  fill: #63d1bb;
}
.nav-menu__link:active path{
  opacity:.5;
}