.news{
  margin-bottom: 58px;
}
.news .container{
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.news__title{
  font: 17px/1.5 'Opensansbold', sans-serif;
  display: table-cell;
  vertical-align: middle;
}
.news__title-wrap{
  @include clearfix();
  display: block;
  box-sizing:border-box;
  padding-bottom: 22px;
}
.news__title-icon{
  display: table-cell;
  width: 58px;
  vertical-align: middle;
}
.news__title-icon path{
  fill: #63d1bb;
}
.news__video{
  position: relative;
  text-align:center;

}
.news__video img{
  width: 100%;
}
.news__play{
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -34px;
  margin-left: -50px;
  @include transition(.2s);
  cursor:pointer;
}
.news__play:hover{
  transform: scale(1.2);
}
.news__play:active{
  transform: scale(0.8);
  opacity: .8;
}
.news__description-wrap{
  padding: 26px 32px 32px;
  border: 1px solid #ececec;
  border-top: 0;
}
.news__description{
  margin-bottom: 26px;
  font-size: 13px;
  line-height:1.8;
}
@include interval(0, 768px){
  .news .container{
    padding-top: 93px;
  }
  .news__title-wrap{
    position: absolute;
    left: 30px;
    right: 30px;
    top: 0;
    padding: 21px 32px;
    border: 1px solid #ececec;
    border-bottom: 0;
  }
}
@include interval(387px, 768px){
  .news .container{
    padding-top: 74px;
  }
}
@include adaptive(pc){
  .news .container{
    display: table;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .news__video{
    display: table-cell;
    width: 684px;
    vertical-align: top;
  }
  .news__description-wrap{
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ececec;
    border-left: none;
    padding-left: 76px;
    padding-right: 76px;
    padding-top: 40px;
  }
  .news__title-icon{
    display: block;
    margin-bottom: 28px;
  }
  .news__title-wrap{
    padding-bottom: 32px;
  }
  .news__description{
    margin-bottom: 38px;
  }
}