.page-form__info{
  padding: 28px 0;
}
.page-form__title{
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 24px;
  position: relative;
}
.page-form__title:after{
  content: '';
  width: 100%;
  height: 1px;
  background: #62d1ba;
  position: absolute;
  top:50%;
  left: 0;
  right:0;
}
.page-form__title-line{
  display: inline-block;
  background: #fff;
  position: relative;
  z-index: 1;
  min-width: 50px;
  padding-right: 12px;
}
.page-form__btn{
  width: 100%;
  line-height: 44px;
}
.page-form__wrap-field{
  margin-bottom: 28px;
}
