
.page-header__wrap-title{
  background:#f9f9f9;
}
.page-header__top-line{
  position: relative;
  padding: 22px 0 18px;
  border-bottom:1px solid #d3d2d2;
}
.page-header__logo{
  width: 88px;
  height:40px;
  margin: 0 auto;
  display: block;
  @include transition(.2s);
}
.page-header__logo:hover path{
  fill:#666;
}
.page-header__logo:active path{
  fill:#b2b2b2;
}
.page-header__title-h1{
  padding-top:71px;
  padding-bottom: 74px;
  line-height: 1.1;
  text-align:center;
  margin-bottom: 30px
}
.page-header__title-h1--home{
  background: url(../img/hero-mobile@1x.jpg) no-repeat top center;
  background-size: auto 300px;
  padding-bottom: 124px;
  margin-bottom: 0;
}
@include interval(768px,1150px){
  .page-header__top-line{
    @include clearfix();
  }
  .page-header__logo{
    float:left;
    margin-left: 50px;
  }
  .page-header__title-h1{
    margin-bottom: 60px;
  }
}
@include adaptive(tablet){
  .page-header__title-h1{
    padding-top: 30px;
  }
}
@include adaptive(pc){
  .page-header__top-line{
    height: 80px;
    overflow: hidden;
    padding:0;
  }
  .page-header__logo{
    margin-top: 20px;
  }
  .page-header__title-h1{
    margin-bottom: 60px;
  }
  .page-header__title-h1--home{
    margin-bottom: 0;
  }
}
