.page-footer{
  background: #f1f1f1;
  padding-top: 26px;
  padding-bottom: 22px;
  position: relative;
}
.page-footer .container{
  padding-left: 30px;
  padding-right: 30px;
}
.page-footer__social{
  text-align: center;
}
.page-footer__copyright{
  text-align: center;
}
.page-footer__copyright-link{
  display: block;
  text-decoration: none;
  @include transition(.2s);
}
.page-footer__copyright-text{
  display: inline-block;
  color: #000;
  font: 19px/1 'Opensansbold', sans-serif;
  text-decoration: none;
  margin-right: 26px;
}
.page-footer__copyright-link:active{
  opacity: .4;
}
.page-footer__icon{
  display: inline-block;
  vertical-align: middle;
}
.page-footer__icon path{
  fill: #63d1bb;
}
.page-footer__logo{
  display: none;
}
@include adaptive(tablet){
  .page-footer__logo{
    display: block;
    width: 200px;
  }
  .page-footer__copyright{
    width: 200px;
    text-align: right;
  }
  .page-footer .container{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer {
    padding-top: 52px;
    padding-bottom: 45px;
  }
}
@include adaptive(pc){
  
}