.page-header__wrap-title{
  background:#f9f9f9;
}
.page-header__top-line{
  position: relative;
}

.page-header__title-h1{
  padding-top:71px;
  padding-bottom: 74px;
  line-height: 1.1;
  text-align:center;
  margin-bottom: 30px
}
.page-header__title-h1--home{
  background: url(../img/hero-mobile@1x.jpg) no-repeat top center;
  background-size: auto 300px;
  padding-bottom: 124px;
  margin-bottom: 0;
}

@include interval(768px,1150px){

  .page-header__title-h1{
    margin-bottom: 60px;
  }
}
@include adaptive(tablet){
  .page-header__title-h1{
    padding-top: 36px;
    padding-bottom: 80px;
    
  }
  .page-header__title-h1--home{
    padding-top: 94px;
    margin-bottom: 0;
    padding-bottom: 378px;
  }
  .page-header__wrap-title{
    margin-bottom: 80px;
  }
  .page-header__wrap-title--home{
    margin-bottom: 0;
  }
  .page-header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include container();

  }
  
  .page-header__top-line{
    border-bottom: 1px solid #d3d2d2;
    height: 90px;
  }
}
@include adaptive(pc){

  .page-header__wrap-title .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .page-header__title-h1{
    width: 100%;

  }
  .page-header__title-h1 {
    padding-top: 32px;
    padding-bottom: 100px;
  }
  .page-header__title-h1--home {
    padding-bottom: 356px;
  }
  .page-header__wrap-title{
    margin-bottom: 130px;
  }
  .page-header__wrap-title--home{
    margin-bottom: 0;
  }
}
