.product-of-week{
  padding-top:25px;
  padding-bottom: 42px;
}
.product-of-week__subtitle{
  text-transform: uppercase;
  color: #63d1bb;
  font: 17px/1.5 "Opensansbold", sans-serif;
  display: block;
  margin-bottom: 20px;
}
.product-of-week__description{
  font-size: 15px;
  color: #444;
  margin-bottom: 16px;
}
.product-of-week__list{
  margin-bottom: 28px;
}
.product-of-week__title{
  font-size:25px;
}
.product-of-week__price{
  text-align: center;
  display: block;
  padding: 21px 0;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
