.products-prop{
  padding: 8px 0;
  border-bottom: 1px solid #ececec;
  display: flex;
}
.products-prop__name{
  flex-shrink:0;
  width: 80px;
  margin-right: 18px;
  font-size: 15px;
}
.products-prop__description{
  overflow: hidden;
  flex-grow: 1;
  font-size: 15px;
}
