.product__title{
  font: 17px/1.5 'Opensansbold', sans-serif;
  color: #000;
  margin-bottom: 10px;
  @include transition(.2s);
}
.product__description{
  display: block;
  margin: 26px 28px 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
  text-decoration: none;
}
.product__prop-text{
  display: block;
  color: #444;
  font-size: 13px;
}
.product__footer{
  @include clearfix();
  padding: 0 28px 28px;
}
.product__price{
  float: left;
  font-size: 16px;
}
.product__icon-add-cart{
  display: block;
  float: right;
}

.product__description-wrap{
  border: 1px solid #ececec;
  @include transition(.2s);
}
.product__icon-add-cart path{
  fill: #ccc;
  @include transition(.2s);
}
.product__icon-add-cart:hover path{
  fill: #63d1bb;
}
.product__icon-add-cart:active{
  opacity: .5;
}
.product__img img{
    width: 100%;
  }
@include interval(768px, 1150px){
  .product__img{
    display: table-cell;
    width: 50%;
    vertical-align: top;
  }
  .product__description{
     border: none;
  }
  .product__description-wrap{
    display: table-cell;
    width: 50%;
    vertical-align: top;
    padding-bottom: 80px;
    position: relative;
   
  }
  .product__footer{
    position: absolute;
    left: 28px;
    right: 28px;
    bottom: 0;
    padding-left:0;
    padding-right:0;
    padding-top:28px;
    border-top: 1px solid #ececec;
  }
}
@include adaptive(pc){
  .product__description{
    height: 80px;
    overflow: hidden;
  }
}