.reviews{
  padding-bottom:52px;
  margin-bottom: 40px;
}
.reviews__list{
  margin-bottom: 32px;
}
.reviews__title{
  font-size: 24px;
  margin-bottom: 22px;
}
.reviews__text{
  margin-bottom: 25px;
  line-height: 2;
}
.reviews__cite{
  font: 18px/1.5 "Opensansbold", sans-serif;
  display: block;
  margin-bottom: 5px;
}
.reviews__contacts{
  font-size: 17px;
  line-height: 1.2;
}
