.slider__arrow-wrap{
  @include clearfix();
  margin-bottom: 40px;
}
.slider__btn{
  width: 50%;
  display: block;
  border: 1px solid #ececec;
  height: 50px;
  box-sizing: border-box;
}
.slider__btn--left{
  float:left;
  border-right-color: transparent
}
.slider__btn--right{
  float:right;
}
.slider__arrow{
  display: block;
  height: 50px;
  text-align: center;
  @include transition(.2s);
}
.slider__arrow svg{
  height: 100%;
}
.slider__arrow--left{
  transform: rotate(180deg);
}
.slider__btn:hover .slider__arrow{
  opacity:.5;
}
.slider__btn:active .slider__arrow{
  opacity:.3;
}