.slider__arrow-wrap{
  @include clearfix();
  margin-bottom: 40px;
  display: flex;
}
.slider__btn{
  width: 50%;
  display: block;
  border: 1px solid #ececec;
  height: 50px;
  box-sizing: border-box;
}
.slider__btn--left{
  border-right-color: transparent
}
.slider__arrow{
  display: block;
  height: 50px;
  text-align: center;
  @include transition(.2s);
}
.slider__arrow svg{
  height: 100%;
}
.slider__arrow--left{
  transform: rotate(180deg);
}
.slider__btn:hover .slider__arrow{
  opacity:.5;
}
.slider__btn:active .slider__arrow{
  opacity:.3;
}
@include adaptive(tablet){
  .slider__arrow-wrap{
    width: 175px;
    position: absolute;
    right: 50px;
    bottom: 84px;
    margin-bottom: 0;
  }
  .slider__btn{
    border:none;
  }
}