.social{
  font-size:0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
.social__item{
  display: inline-block;
  vertical-align: middle;
  margin: 0  18px 18px 18px;
  width: 24px;
}
.social__link{
  display: block;
}