.social{
  font-size:0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  padding-bottom:8px;
}
.social__item{
  display: inline-block;
  vertical-align: middle;
  margin: 0  17px 18px 17px;
  width: 24px;
}
.social__link{
  display: block;
  @include transition(.2s);
}
.social__link:hover path{
  fill:#62d1ba;
}
.social__link:active{
  opacity: .7;
}
@include adaptive(tablet){
  .social {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .social__item{
    margin-top: 8px;
    margin-bottom: 8px;
  }
}