.title{
  font: 27px/1.4 'Opensansbold', sans-serif;
  color:#231f20;
}
.title__link{
  color: #000;
  @include transition(.2s);
  text-decoration: none;
  display: block;
}
.title__link:hover{
  color: rgba(0,0,0,.6);
}
.title__link:active{
  color: rgba(0,0,0,.2);
}
@include adaptive(tablet){
  .title{
  font-size: 43px;
  }
}
@include adaptive(pc){
  .title{
  font-size: 53px;
  }
}