.about-us{
  padding-top: 25px;
  margin-bottom: 56px;
  font-size:0;
}
.about-us .container{
  padding-left: 30px;
  padding-right: 30px;
}
.about-us__title{
  font-size: 25px;
  margin-bottom: 29px;
}
.about-us__icon{
  display: block;
    margin-bottom: 18px;
    width: 48px;
    text-align: center;
  height: 35px;
}
.about-us__description{
  display: block;
  font-size: 17px; 
  line-height: 1.2;
  font-family: 'Opensansbold', 'Arial',sans-serif;
  margin-bottom: 30px;
}
.about-us__icon path{
  fill: #63d1bb;
}
@include adaptive(tablet){
  .about-us{
    margin-bottom: 25px;
  }
  .about-us__item{
    width: 50%;
  }
  .about-us__list{
    display: flex;
    flex-wrap: wrap;
  }
  .about-us__title{
    font-size: 43px;
    margin-bottom: 44px;
  }
  
  .about-us .container{
    padding-left: 50px;
    padding-right: 50px;
  }
  .about-us__description{
    width: 300px;
    font-size: 19px;
    margin-bottom: 58px;
  }
}
@include adaptive(pc){
  .about-us .container{
    padding-left: 225px;
    padding-right: 225px;

  }
  .about-us__title{
    font-size: 53px;
    margin-bottom: 40px;
  }
  .about-us {
    margin-bottom: 32px;
}
}
