.about-us{
  padding-top: 28px;
  margin-bottom: 54px;
  font-size: 0;
}
.about-us__container{
  padding-left: 30px;
  padding-right: 30px;
}
.about-us__title{
  font-size: 25px;
  margin-bottom: 32px;
  margin-top: 0;
  text-indent: -2px;
}
.about-us__list{
  padding-left: 0;
}
.about-us__icon-wrap{
  display: block;
  margin-bottom: 16px;
  
  &--style{
    margin-bottom: 25px;
  }
  
  &--heart{
    padding-top: 4px;
    padding-bottom: 3px;
  }
  
  &--manufacturer{
    margin-left: -5px;
    margin-bottom: 25px;
  }
  
  &--gift{
    margin-bottom: 21px;
  }
}
.about-us__icon{
  fill: $color-green;
}
.about-us__description{
  display: block;
  font-size: 17px;
  line-height: 1.2;
  font-family: "Opensansbold", "Arial", sans-serif;
  margin-bottom: 30px;
}
@include adaptive(tablet){
  .about-us{
    margin-bottom: 25px;
    padding-top: 30px;
  }
  .about-us__container{
    padding-left: 50px;
    padding-right: 50px;
  }
  .about-us__title{
    font-size: 43px;
    margin-bottom: 48px;
    text-indent: -5px;
    letter-spacing: -0.3px;
  }
  .about-us__list{
    display: flex;
    flex-wrap: wrap;
  }
  .about-us__item{
    width: 50%;
    
    &:nth-child(2n+1){
      
    }
  }
  .about-us__description{
    width: 300px;
    font-size: 19px;
    margin-bottom: 58px;
  }
}
@include adaptive(pc){
  .about-us {
    margin-bottom: 36px;
    padding-top: 34px;
  }
  .about-us__container{
    padding-left: 225px;
    padding-right: 225px;
  }
  .about-us__title{
    font-size: 53px;
    margin-bottom: 49px;
  }
  .about-us__description{
    margin-bottom: 56px;
  }
}
