.catalog{
  overflow: hidden;
}
.catalog__list{
  font-size: 0;
  padding: 0 30px;
}
.catalog__item{
  margin-bottom: 30px;
}
@include interval(768px, 1150px){
  .catalog__list{
    padding-left: 50px;
    padding-right: 50px;
  }
}
@include adaptive(pc){
  .catalog__list{
    padding: 0 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .catalog__item{
    margin: 0 0 60px;
    width: 316px;
  }
}