.contacts{
  margin-bottom: 40px;
  position: relative;
}
.contacts__title{
  font-size: 18px;
  line-height: 30px;
  font-family: "Opensansbold", "Arial", sans-serif;
  margin-bottom: 26px;
  margin-top: 0;
}
.contacts__list{
  margin-bottom: 42px;
  padding-left: 0;
  margin-bottom: 0;
}
.contacts__item{
  margin-bottom: 28px;
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  line-height: 30px;
}
.contacts__item-description{
  overflow: hidden;
  font-style: normal;
  max-width: 300px;
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 2;

  &--mail{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: $color-dark-gray;
    line-height: 2;
    transition: all 0.2s linear;
    margin-bottom: 0;

    &:hover{
      color: $color-green;
    }

    &:active{
      opacity: 0.5;
    }

    span{
      border-bottom: 1px solid $color-green;
      display: inline-block;
    }
  }
}
.contants__btn{
  margin-bottom: 40px;
  font-size: 18px;
}
.contacts{
  @include container();
  padding-left: 30px;
  padding-right: 30px;
}
@include adaptive(tablet){
  .contacts{
    margin-bottom: 56px;
  }
  .contacts__title{
    font-size: 43px;
    padding: 14px 0 15px;
    border-right: 4px solid #221f1f;
    margin-right: 46px;
    margin-bottom: 34px;
    position: relative;
    text-indent: -5px;
    line-height: 50px;
  }
  .contacts__title::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid $color-green;
    left: 100%;
    margin-left: 8px;
    top: 2px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right: none;
    border-left-width: 40px;
  }
  .contacts__list{
    margin-bottom: 20px;
  }
  .contacts__item{
    font-size: 17px;
    line-height: 30px;
  }
  .contacts__item-description{
    margin-left: 23px;
    line-height: 30px;
  }
  .contants__btn{
    font-size: 17px;
  }
}
@include interval(768px, 1149px){
  .contacts__list{
    display: flex;
  }
  .contacts__item{
    width: 50%;
    vertical-align: top;
  }
  .contants__btn{
    width: 228px;
    margin: 0 auto;
  }
}
@include adaptive(pc){
  .contacts{
    padding-top: 62px;
    margin-bottom: 106px;
  }
  .contacts__wrap{
    width: 50%;
    padding-left: 18px;
    box-sizing: border-box;
    padding-right: 30px;
  }
  .contacts__title{
    font-size: 53px;
    border-right: none;
    box-sizing: border-box;
    border-right: none;
    border-left: 4px solid #221f1f;
    margin-left: 44px;
    padding: 8px 0 14px 108px;
    margin-bottom: 34px;
    margin-top: 0;
    letter-spacing: -0.3px;
    line-height: 57px;

    &::after{
      left: -5px;
    }
  }
  .contacts__list{
    padding-left: 155px;
    box-sizing: border-box;
    margin-bottom: 72px;
    margin-top: 0;
  }
  .contants__btn{
    width: 228px;
    margin-left: 156px;
  }
  .contacts__item{
    margin-bottom: 30px;
  }
  .contacts__item-description {
    margin-left: 25px;
  }
}
