.delivery{
  display: none;
}
@include adaptive(tablet){
  .delivery{
    display: block;
    line-height: 1.7;
    padding: 20px 0 22px 0;
    text-align: right;
    box-sizing: border-box;
    font-size: 15px;
    @include container();
    margin-top: -40px;
  }
}


