.page-form__field{
  margin-bottom: 21px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.page-form__field--block{
  display: block;
  margin-bottom: 19px;
}
.page-form__name{
  font-size: 17px; 
  line-height: 1.1;
  font-family: 'Opensansbold', 'Arial',sans-serif;
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.page-form__radio,.page-form__checkbox{
  display: none;
}
.page-form__name--radio,.page-form__name--checkbox{
  display: flex;
  align-items: center;
}
.page-form__name--radio:before{
  content: '';
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #444;
  vertical-align: top;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  @include transition(.2s);
  margin-right: 24px;
  flex-shrink: 0;
  vertical-align: middle;
}
.page-form__name--radio:hover:before{
  border-color: #62d1ba;
}
.page-form__name--radio:active:before{
  border-color: #e7e7e7;
}
.page-form__radio:checked + .page-form__name--radio:after{
  content:'';
  position: absolute;
  top: 50%;
  margin-top: -8px;
  background: #62d1ba;
  left: 11px;
  height: 16px;
  width: 16px;
  border-radius:50%;
}

.page-form__name--checkbox:before{
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #444;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  cursor:pointer;
  @include transition(.2s);
  margin-right: 24px;
  flex-shrink: 0;
}
.page-form__name--checkbox:hover:before{
  border-color: #62d1ba;
}
.page-form__name--checkbox:active:before{
  border-color: #e7e7e7;
}
.page-form__checkbox:checked + .page-form__name--checkbox:after{
  content:'';
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -9px;
  background: transparent;
  margin-left: 8px;
  height: 8px;
  width: 18px;
  border-bottom: 2px solid #444;
  border-left: 2px solid #444;
  transform:rotate(-45deg)
}
.page-form__name-full{
  display:block;
  font-size: 17px; 
  line-height: 1;
  font-family: 'Opensansbold', 'Arial',sans-serif;
  padding-top: 4px;
}
.page-form__text,.page-form__tel,.page-form__email{
  border: none;
  border-bottom: 2px solid #444;
  height: 52px;
  width: 100%;
  font-size: 17px; 
  line-height: 1;
  font-family: 'Opensans', 'Arial',sans-serif;
  @include transition(.2s);
  background: transparent;
}
.page-form__textarea{
  width: 100%;
  height: 142px;
  padding: 12px 16px;
  border: 2px solid #444;
  box-sizing: border-box;
  font: 17px/1 'Opensans', sans-serif;
  @include transition(.2);
}
.page-form__text:hover,
.page-form__tel:hover,
.page-form__email:hover,
.page-form__textarea:hover,
.page-form__text:focus,
.page-form__tel:focus,
.page-form__email:focus,
.page-form__textarea:focus,
.page-form__text:valid,
.page-form__tel:valid,
.page-form__email:valid,
.page-form__textarea:valid,
.page-form__text:active,
.page-form__tel:active,
.page-form__email:active,
.page-form__textarea:active{
  border-color: #62d1ba;

}
.page-form__tel:hover ~ .page-form__icon path,.page-form__email:hover ~ .page-form__icon path,
.page-form__tel:focus ~ .page-form__icon path,.page-form__email:focus ~ .page-form__icon path,
.page-form__tel:valid ~ .page-form__icon path,.page-form__email:valid ~ .page-form__icon path,
.page-form__tel:active ~ .page-form__icon path,.page-form__email:active ~ .page-form__icon path{
  fill: #62d1ba;
}
.page-form__tel,.page-form__email{
  padding-right: 40px;
}
.page-form__icon {
  position: absolute;
  top: 10px;
  right: 4px;
}
.page-form__icon path{
  fill: #cccccc;
}
@include adaptive(tablet){
  .page-form__text, .page-form__tel, .page-form__email{
    margin-bottom: 0;
    padding-left: 16px;
    font-size: 19px;
    padding-right: 70px;
  }
  .page-form__text-wrap{
    display: block;
    width: 100%;
  }
  .page-form__element--fio .field{
    display: flex;
    align-items: center;
  }
  .page-form__name{
    font-size: 19px;
  }
  .page-form__name--radio:before{
    width: 52px;
    height: 52px;
    margin-right: 30px;
  }
  .page-form__radio:checked + .page-form__name--radio:after{
    margin-top: -10px;
    margin-left: 5px;
    height: 20px;
    width: 20px;
  }
  .page-form{
    margin-bottom: 24px;
  }
  .page-form__checkbox-wrap{
    width: 50%;
  }
  .page-form__name--checkbox:before{
    width: 54px;
    height: 51px;
    margin-right: 26px;
  }
  .page-form__checkbox:checked + .page-form__name--checkbox:after {
    margin-top: -12px;
    height: 14px;
    width: 28px;
  }
  .page-form__name-full{
    letter-spacing: 1px;
    margin-right: 25px;
    padding-top: 0;
  }
  .page-form__icon{
    right: 24px;
  }
  .page-form__field--block{
    display: flex;
  }
}
@include adaptive(pc){
  .page-form__checkbox-wrap{
    width: 30%;
  }
  .page-form__icon {
    right: 10px;
  }
}