.menu-service{
  font-size: 0;
} 
.menu-service__link{
  display: block;
  padding: 30px 0 30px 0;
  text-decoration: none;
  position: relative;
}
.menu-service__link:hover .menu-service__text{
  opacity: .6;
}
.menu-service__link:active .menu-service__text{
  opacity: .3;
}
.menu-service__text{
  font-size: 17px; 
  line-height: 1;
  font-family: 'Opensansbold', 'Arial',sans-serif;
  color:#231f20;
  display:inline-block;
  vertical-align: middle;
}
.menu-service__icon{
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  text-align:center;
}
.menu-service__icon path{
  fill:#d3d2d2;
  @include transition(.2s);
}
.menu-service__link:hover path{
  fill: #63d1bb;
}
.menu-service__link:active path{
  opacity:.5;
}
.menu-service{
  position: absolute;
  left: 0;
  right:0;
  top: 239px;
  z-index: 1;
  background: #fff;
  @include transition(.2s);
}
.nav-menu--close .menu-service{
  transform: translateX(-100%);
}
.menu--nojs .menu-service{
  position: static;
}
@include interval(0, 768px){
  .menu-service__item{
    border-bottom: 1px solid #d3d2d2;
  }
}
@include adaptive(tablet){
  .menu-service{
    display: flex;
    width: 345px;
    position: static;
    height: 90px;
    order: -1;
  }
  .menu-service__item{
    border-bottom: none;
    border-left: 1px solid #d3d2d2;
  }
  .menu-service__link{
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav-menu__text--search{
    display: none;
  }
  .menu-service__search{
    display: none;
  }
  .nav-menu--close .menu-service{
    transform: translateX(0);
    position: static;
  }
  .menu-service__text {
    font-size: 17px; 
    line-height: 1;
    font-family: 'Opensans', 'Arial',sans-serif;
    letter-spacing: .5px;
    font-weight: 700;
  }
}


