.menu-service{
  top: 242px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  z-index: 2;
}
.menu-service__link{
  display: block;
  height: 80px;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  line-height: 1;

  &:hover .menu-service__icon{
    fill: $color-green;
  }
  
  &:active .menu-service__icon{
    opacity: 0.5;
  }
  
  &:hover .menu-service__text{
    opacity: 0.6;
  }
  
  &:active .menu-service__text{
    opacity: 0.3;
  }
}
.menu-service__text{
  font-size: 17px;
  line-height: 1;
  font-family: "Opensansbold", "Arial", sans-serif;
  color: #231f20;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s linear;
}
.menu-service__icon-wrap{
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  text-align: center;
}
.menu-service__icon{
  fill: #d3d2d2;
  transition: all 0.2s linear;
}
@include interval(0, 767px){
  .menu-service__item{
    border-bottom: 1px solid #d3d2d2;
  }
}
@include adaptive(tablet){
  .menu-service{
    display: flex;
    width: 348px;
    position: static;
    height: 88px;
    order: -1;
    z-index: 0;
  }
  .menu-service__item{
    border-bottom: none;
    border-left: 1px solid #d3d2d2;
  }
  .menu-service__link{
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .menu-service__icon-wrap{
    width: 82px;
  }
  .menu-service__search{
    display: none;
  }
  .menu-service__text{
    font-size: 17px;
    line-height: 24px;
  }
}
@include adaptive(tablet){
  .menu-service{
    width: 350px;
  }
}