.nav-menu{
  display: flex;
  flex-direction: column;
}
.nav-menu__item{
  padding-left: 30px;
  padding-right: 30px;
}
.nav-menu__link,.nav-menu__text{
  display: block;
  font-size: 17px; 
  line-height: 1;
  font-family: 'Opensansbold', 'Arial',sans-serif;
  color:#231f20;
  padding: 30px 0 30px 50px;
  text-decoration: none;
  position: relative;
  @include transition(.2s);
}
.nav-menu__link:hover{
  opacity: .6;
}
.nav-menu__link:active{
  opacity: .6;
}
.menu--nojs .nav-menu__button{
  display: none;
}
.nav-menu__button{
  position: absolute;
  right: 30px;
  top: 26px;
  display: block;
  width: 50px;
  height: 20px;
  cursor: pointer;
  bottom: 0;
  height: 20px;
  padding-top: 26px;
  text-align: right;
  border: none;
  background: transparent;
}
.nav-menu__button:before,
.nav-menu__button:after{
  content:'';
  position: absolute;
  display: block;
  width: 20px;
  right: 0;
  height: 2px;
  background:#221f1f;
  @include transition(.1s);
}
.nav-menu__button:after{
  transform: rotate(-45deg);
  top: 15px;
}
.nav-menu__button:before{
  transform: rotate(45deg);
  box-shadow: 0px -7px 0 0 transparent;
  top: 15px;
}
.nav-menu--close .nav-menu__button::before{
  display: block;
  top: 15px;
  box-shadow: 0px -6px 0 0 #000;
}
.nav-menu--close .nav-menu__button:before{
  transform: rotate(0deg);
}
.nav-menu--close .nav-menu__button::after {
  top: 21px;
  transform: rotate(0deg);
}
.nav-menu__list{
  position: absolute;
  left: 0;
  right:0;
  top: 83px;
  z-index: 1;
  background: #fff;
  @include transition(.2s);
}
.nav-menu--close .nav-menu__list{
  transform: translateX(-100%);
}
.menu--nojs .nav-menu__list{
  position: static;
}
@include interval(0, 768px){
  .nav-menu__item{
    border-bottom: 1px solid #d3d2d2;
  }
}

@include adaptive(tablet){
  .nav-menu{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav-menu__button{
    display: none;
  }
  .nav-menu__list{
    display: flex;
    background: transparent;
    position: static;
  }
  .nav-menu__item{
    border-bottom: none;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-menu--close .nav-menu__list{
    transform: translateX(0);
  }
  .nav-menu__link,.nav-menu__text{
    display: block;
    font-size: 15px; 
    line-height: 1;
    font-family: 'Opensans', 'Arial',sans-serif;
    padding: 22px 35px 23px 0px;
    letter-spacing: .5px;
    font-weight:700;
  }
}
@include adaptive(pc){
  .nav-menu{
    order: -1;
    position: static;
    padding-left: 0;
  }
  .nav-menu__list {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    order: -1;
    height: 90px;
    width: 380px;
    overflow: hidden;
  }
  .nav-menu__item{
    height: 100%;
  }
  .nav-menu__item:first-child{
    border-right: 1px solid #d3d2d2;
    margin-right: 36px;
  }
  .nav-menu__item:first-child .nav-menu__link,
    .nav-menu__item:first-child .nav-menu__text{
    padding-right: 36px;
  }
  .nav-menu__link,.nav-menu__text{
    padding: 10px 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
  }

}
