.nav-home{
  background: #f9f9f9;
}
.nav-home__item{
  background: #63d1bb;
  @include transition(.2s);
}
.nav-home__link{
  font-size: 19px; 
  line-height: 1.3;
  font-family: 'Opensansbold', 'Arial',sans-serif;
  color: #fff;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  @include transition(.2s);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; 
}
.nav-home__item--right{
  background:#56c3b2;
  margin-top:-1px;
}
.nav-home__item:hover{
  transform: scaleY(1.05);
}
.nav-home__item:hover .nav-home__link{
  transform: translateY(-5px);
}
.nav-home__item:active{
  opacity:.8;
}
.nav-home__link path{
  fill: #3bb09d;
}
.nav-home__text{
  padding: 10px 0;
}
.nav-home__icon{
  width: 56px;
  text-align: center;
  padding: 22px 0 16px 0;
}
.nav-home .container{
  overflow: hidden;
}

@include adaptive(tablet){
  .nav-home__list{
    margin: 0 50px;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    margin: 0;
  }
  .nav-home .container{
    padding: 0 50px;
  }
  .nav-home__item{
    width: 50%;
  }
  .nav-home__item--right{
    margin-top: 0;
  }
}
@include adaptive(pc){
  .nav-home__link{
    line-height: 1.5;
    padding: 0 38px;
  }

  .nav-home__icon{
    padding-top: 28px;
  }
}