.nav-menu{
  display: flex;
  flex-direction: column;
  margin-left: -30px;
  margin-right: -30px;
  overflow: hidden;
}
.nav-menu__button{
  position: absolute;
  right: 30px;
  top: 26px;
  display: block;
  width: 50px;
  height: 20px;
  cursor: pointer;
  bottom: 0;
  height: 20px;
  padding-top: 26px;
  text-align: right;
  border: none;
  background: transparent;
  z-index: 1;
  outline: none;

  &::before,
  &::after{
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    right: 0;
    height: 2px;
    background: #221f1f;
    transition: all 0.2s linear;
  }

  &::after{
    transform: rotate(-45deg);
    top: 15px;
  }

  &::before{
    transform: rotate(45deg);
    box-shadow: 0px -7px 0 0 transparent;
    top: 15px;
  }
}
.nav-menu__item{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background: #ffffff;
  transition: all 0.2s linear;
}
.nav-menu--nojs {
  .nav-menu__item{
    position: static;
  }

  .nav-menu__button{
    display: none;
  }
}
.nav-menu--close{
  .nav-menu__button::before{
    display: block;
    top: 12px;
    box-shadow: 0px -6px 0 0 $color-black;
    transform: rotate(0deg);
  }

  .nav-menu__button::after {
    top: 18px;
    transform: rotate(0deg);
  }

  .nav-menu__item{
    transform: translateX(-100%);
  }
}
@include adaptive(tablet){
  .nav-menu{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .nav-menu__item{
    background: transparent;
    position: static;
  }
  .nav-menu__button{
    display: none;
  }
  .nav-menu--close{
    .nav-menu__item{
      transform: translateX(0);
    }
  }
}