.nav-home{
  background: #f9f9f9;
  position: relative;
}
.nav-home__container{
  overflow: hidden;
}
.nav-home__list{
  padding: 0;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-home__item{
  background: $color-green;
  transition: all 0.2s linear;

  &--right{
    background: #56c3b2;
    margin-top: -1px;
  }

  &:hover .nav-home__link{
    transform: translateY(-5px);
  }

  &:active{
    opacity: 0.8;
  }
}
.nav-home__link{
  font-size: 19px;
  line-height: 1.3;
  font-family: "Opensansbold", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  transition: all 0.2s linear;
  padding: 23px 30px 11px;
  display: flex;
  justify-content: space-between;

  &:hover{
    transform: scaleY(1.05);
  }
  div{
    margin-top: 2px;
  }
}
.nav-home__text{
  padding: 10px 0;
}
.nav-home__icon-wrap{
  width: 58px;
  text-align: center;
}
.nav-home__icon{
  width: 58px;
  height: 64px;
  fill: #3bb09d;
}
@include adaptive(tablet){
  .nav-home{
    &::before{
      content: "";
      position: absolute;
      left:0;
      right:0;
      bottom: -20px;
      height: 34px;
      background-color: transparent;
      background-image: url(../../img/bg-zigzag-fill.svg);
      background-repeat: repeat-x;
      background-position: top center;
      z-index: 1;
      background-size: contain;
    }
  }
  .nav-home__container{
    padding: 0 50px;
  }
  .nav-home__list{
    margin: 0 50px;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    margin: 0;
  }
  .nav-home__item{
    width: 50%;

    &--right{
      margin-top: 0;
    }
  }

  .nav-home__link{
    line-height: 1.5;
    padding: 28px 36px 22px;
    font-size: 20px;

    div{
      margin-top: 0;
    }
  }
  .nav-home__icon-wrap--interior{
    width: 50px;
  }
}
@include adaptive(pc){
  .nav-home{
    margin-bottom: 54px;
  }
  .nav-home__link{
    padding-left: 38px;
    padding-right: 34px;
    padding-bottom: 16px;
  }
}
