.news{
  margin-bottom: 58px;
}
.news__container{
  position: relative;
  padding-left: 30px;
  padding-right: 30px;

  &:hover .news__description-wrap{
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
}
.news__title-wrap{
  @include clearfix();
  display: block;
  box-sizing: border-box;
  padding-bottom: 22px;
}
.news__title{
  font-size: 17px;
  line-height: 1.5;
  font-family: "Opensansbold", "Arial", sans-serif;
  display: table-cell;
  vertical-align: middle;
}
.news__title-icon{
  display: table-cell;
  width: 58px;
  vertical-align: middle;
}
.news__icon-video{
  fill: $color-green;
  width: 34px;
  height: 32px;
}
.news__video{
  position: relative;
  text-align: center;
  background-color: #f1f1f1;
  background-image: url(../img/video-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 152px;
}
@include adaptive(retina){
  .news__video{
    background-image: url(../../img/video-mobile@2x.jpg);
  }
}
.news__video{
  img{
    width: 100%;
  }
}
.news__play{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -52px;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  outline: none;

  &:active{
    outline: none;
  }
}
.news__icon-play{
  width: 102px;
  height: 76px;
  transition: all 0.2s linear;
  fill: $color-green;

  &:hover{
    transform: scale(1.2);
  }

  &:active{
    transform: scale(0.8);
    opacity: 0.8;
  }
}
.news__description-wrap{
  padding: 14px 34px 32px 32px;
  border: 1px solid #ececec;
  border-top: 0;
  transition: all 0.2s linear;
}
.news__description{
  margin-bottom: 26px;
  font-size: 13px;
  line-height: 1.85;
}
@include interval(0, 767px){
  .news__title-wrap{
    padding: 21px 32px;
    border: 1px solid #ececec;
    border-bottom: 0;
  }
}
@include adaptive(tablet){
  .news{
    margin-bottom: 62px;
  }
  .news__container{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
  .news__video{
    order: -1;
    height: 455px;
    background-image: url(../img/video-tablet@1x.jpg);
  }
  .news__title-wrap{
    padding-bottom: 0;
    padding-left: 40px;
    padding-top: 34px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    padding-right: 42px;
  }
  .news__title{
    font-size: 20px;
  }
  .news__description-wrap{
    padding-left: 40px;
    padding-right: 42px;
    padding-bottom: 46px;
    padding-top: 80px;
    margin-top: -66px;
  }
  .news__description{
    font-size: 15px;
    margin-bottom: 34px;
    line-height: 2;
  }
  .news__title-icon{
    width: 66px;
  }
  @include adaptive(retina){
    .news__video{
      background-image: url(../../img/video-tablet@2x.jpg);
    }
  }
}
@include adaptive(pc){
  .news{
    margin-bottom: 104px;
  }
  .news__container{
    flex-wrap: wrap;
  }
  .news__title-wrap{
    padding-bottom: 28px;
    align-self: flex-end;
    width: 366px;
    padding-left: 76px;
    padding-right: 76px;
    border-top: 1px solid #ececec;
    border-left: none;
    padding-top: 40px;
  }
  .news__play {
    margin-top: -38px;
    margin-left: -44px;
  }
  .news__title{
    font-size: 20px;
    line-height: 1.3;
  }
  .news__title-icon{
    display: block;
    margin-bottom: 21px;
  }
  .news__description-wrap{
    border-left: none;
    width: 368px;
    box-sizing: border-box;
    align-self: flex-end;
    border-top: none;
    padding-left: 78px;
    padding-right: 26px;
    padding-bottom: 60px;
    margin-top: -172px;
    padding-top: 160px;
  }
  .news__description{
    margin-bottom: 46px;
    font-size: 15px;
    line-height: 2;
  }
  .news__video{
    -ms-flex-order: -1;
    order: -1;
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    width: 683px;
    display: flex;
    height: 100%;
    background-image: url(../img/video-desktop@1x.jpg);
  }
  .news__btn{
    width: 226px;
    margin-left: 2px;
  }
  @include adaptive(retina){
    .news__video{
      background-image: url(../img/video-desktop@2x.jpg);
    }
  }
}
