.page-footer{
  background: #f1f1f1;
  padding-top: 23px;
  padding-bottom: 22px;
  position: relative;
}
.page-footer__container{
  padding-left: 30px;
  padding-right: 30px;
}
.page-footer__social{
  text-align: center;
}
.page-footer__copyright{
  text-align: center;
}
.page-footer__copyright-link{
  display: block;
  text-decoration: none;
  transition: all 0.2s linear;

  &:active{
    opacity: 0.4;
  }
}
.page-footer__copyright-text{
  display: inline-block;
  vertical-align: middle;
  color: $color-black;
  font-size: 19px;
  line-height: 1;
  font-family: "Opensansbold", "Arial", sans-serif;
  text-decoration: none;
  margin-right: 26px;
}
.page-footer__icon-wrap{
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}
.page-footer__icon{
  fill: $color-green;
  width: 28px;
  height: 36px;
}
@include adaptive(tablet){
  .page-footer{
    padding-top: 50px;
    padding-bottom: 45px;
  }
  .page-footer__container{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer__copyright{
    width: 200px;
    text-align: right;
  }
  .page-footer__logo{
    width: 200px;
  }
}
@include adaptive(pc){
  .page-footer{
    padding-top: 48px;
  }
}