.page{
  font-size: 15px; 
  line-height: 1.6;
  font-family: "Opensans", "Arial", sans-serif;
  color: $color-dark-gray;
  min-width: 320px;
  margin: 0;
}
@include adaptive(tablet){
  .page{
    font-size: 17px;
  }
}

