.page-header__wrap-title{
  background:#f9f9f9;
}
.page-header__top-line{
  position: relative;
}
.page-header{
  background: #f9f9f9;
}
.page-header:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 82px;
  background: #fff;
  border-bottom: 1px solid #d3d2d2;
}
.page-header__title-h1{
  padding-top:71px;
  padding-bottom: 74px;
  line-height: 1.1;
  text-align:center;
  @include container();
  margin-bottom: 30px;
}
.page-header__title-h1--home{
  background: url(../img/hero-mobile@1x.jpg) no-repeat top center;
  background-size: auto 300px;
  padding-bottom: 124px;
  margin-bottom: 0;
  margin-top: 2px;
}

@include interval(768px,1150px){
  .page-header__title-h1{
    margin-bottom: 76px;
  }
}
@include adaptive(tablet){
  .page-header__top-line{
    @include container();
  }
  .page-header__title-h1{
    padding-top: 36px;
    padding-bottom: 80px;
  }
  .page-header__title-h1--home{
    padding-top: 94px;
    margin-bottom: 0;
    padding-bottom: 378px;
  }
  .page-header__wrap-title{
    margin-bottom: 80px;
  }
  .page-header__wrap-title--home{
    margin-bottom: 0;
  }
  .page-header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .page-header:before{
    height: 90px;
  }
}
@include adaptive(pc){

  .page-header__wrap-title .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .page-header__title-h1{
    padding-top: 32px;
    margin-bottom: 120px;
    width: 100%;
  }
  .page-header__title-h1--home {
    padding-bottom: 356px;
    padding-top: 90px;
    margin-bottom: 0;
  }
}
