.page-header{
  background: #f9f9f9;
}
.page-header--home{
  background-color: #f9f9f9;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-position: center 60px;
  background-repeat: no-repeat;
}
.page-header__top-line{
  position: relative;
  @include container();
}
.page-header__title-h1{
  padding-top: 71px;
  padding-bottom: 76px;
  line-height: 1.1;
  text-align: center;
  @include container();
  margin-bottom: 30px;
}
.page-header__title-h1--home{
  padding-bottom: 123px;
  margin-bottom: 0;
  width: 60%;
}
@include adaptive(retina){
  .page-header--home{
    background-image: url(../img/hero-mobile@2x.jpg);
  }
}
@include interval(768px, 1150px){
  .page-header__title-h1{
    margin-bottom: 76px;
  }
}
@include adaptive(tablet){
  .page-header{
    background: #f9f9f9 url(../../img/bg-zigzag-fill.svg);
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: 800px;

    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 88px;
      background: #ffffff;
      border-bottom: 1px solid #d3d2d2;
      min-width: 320px;
    }

    &--home{
      background-color: #f9f9f9;
      background-image: url(../img/hero-mobile@1x.jpg);
      background-position: center 90px;
      background-repeat: no-repeat;
      background-size: 1150px
    }
  }
  .page-header__top-line{
    z-index: 1;
  }
  .page-header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .page-header__title-h1{
    padding-top: 34px;
    padding-bottom: 92px;
    margin-bottom: 64px;
  }
  .page-header__title-h1--home{
    padding-top: 90px;
    margin-bottom: 0;
    padding-bottom: 375px;
    background-size: 1000px;
    line-height: 1.15;
    width: 620px;

    br{
      display: none;
    }
  }
}
@include adaptive(pc){
  .page-header{
    background-size: 1150px;
  }
  .page-header--home{
    background-image: url(../img/hero-desktop@1x.jpg);
    background-position: center 90px;
  }
  .page-header__title-h1{
    padding-top: 32px;
    margin-bottom: 110px;
    padding-bottom: 120px;
  }
  .page-header__title-h1--home{
    padding-bottom: 358px;
    padding-top: 90px;
    margin-bottom: 0;
    line-height: 1.1;
    width: 720px;
  }
  @include adaptive(retina){
    .page-header--home{
      background-image: url(../img/hero-desktop@2x.jpg);
    }
  }
}