.popup-cart{
  display: none;
  position: fixed;
  margin: auto;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.7);
  z-index: 9;
  @include transition(.2s);
}
.popup-cart__container{
  text-align: center;
  padding-top: 32px;
  border-top: 1px solid #c7c7c7;
  padding-bottom: 46px;
  box-shadow: 0 4px 8px 0px rgba(0,0,0, .2);
  margin-bottom: 20px;
  background:#fff;
  width: 570px;
  margin: auto;
}
.popup-cart__title{
  color: #000;
  font-size: 25px; 
  line-height: 1.2;
  font-family: 'Opensansbold', 'Arial',sans-serif;
  text-transform: uppercase;
  display: block;
  margin-bottom: 24px;
}
.popup-cart__subtitle{
  display: block;
  margin-bottom: 32px;
}
.popup-cart__list{
  margin-bottom: 22px;
  font-size: 0;
}
.popup-cart__item{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 82px;
  border: 1px solid #ececec;
  height: 52px;
  font-size: 17px; 
  line-height: 52px;
  font-family: 'Opensansbold', 'Arial',sans-serif;
  text-transform: uppercase;
  margin-left: 8px;
  box-sizing: border-box;
  margin-bottom: 8px;
  @include transition(.2s);
  cursor:pointer;
}
.popup-cart__item:hover{
  border-color:#c7c7c7;
}
.popup-cart__item:active{
  border-color: #62d1ba;
}
.popup-cart__item:first-child{
  margin-left: 0;
}

.popup-cart__btn{
  @include btn_link(17px, Opensansbold, 52px, #63d1bb, #fff);
  border: 2px solid #63d1bb;
  display: block;
  width: 264px;
  margin: 0 auto;
}
.popup-cart__btn:hover{
  background: #444;
  border-color: #444;
}
.popup-cart--show{
  display: flex;
}

