.product__title{
  font-size: 17px; 
  line-height: 1.4;
  font-family: 'Opensansbold', 'Arial',sans-serif;
  color: #000;
  margin-bottom: 10px;
  @include transition(.2s);
}
.product__description-wrap{
  flex-grow: 1;
}
.product__description{
  display: block;
  margin: 26px 28px 24px;
  text-decoration: none;

}
.product__prop-text{
  display: block;
  color: #444;
  font-size: 13px;
}
.product__link{
  display: block;
  text-decoration: none;
  color: #000;
}
.product__footer{
  margin: 0 28px 28px 28px;
  border-top: 1px solid #ececec;
  padding-top: 24px;
  display:flex;
  justify-content: space-between;
}
.product__price{
  font-size: 16px;
}
.product__icon-add-cart{
  width: 50px;
  height: 20px;

  display: flex;
  justify-content: flex-end;
}

.product__description-wrap{
  border: 1px solid #ececec;
  @include transition(.2s);
}
.product__icon-add-cart path{
  fill: #ccc;
  @include transition(.2s);
}
.product__icon-add-cart:hover path{
  fill: #63d1bb;
}
.product__icon-add-cart:active{
  opacity: .5;
}
.product__img{
  display: block;
}
.product__img img{
  width:100%;
}
.product__title:hover{
  opacity: .6;
}
.product__title:active{
  opacity: .3;
}
@include interval(768px, 1149px){
  .product__img{
    width: 50%;
  }
  .product__description-wrap{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  .product__title{
    font-size: 20px;
    margin-bottom: 6px;
  }
  .product__prop-text{
    font-size: 15px;
  }
  .product__footer {
    margin: 0 32px 28px 32px;
  }
  .product__price{
    font-size: 17px;
  }
  .product__description{
    margin-top: 22px;
  }
}
@include adaptive(pc){
  .product__img{
    height: 236px;
    overflow: hidden;
  }
  .product__description-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product__title{
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 1.3;
  }
  .product__prop-text{
    font-size: 15px;
  }
  .product__description{
    margin-top: 22px;
    margin-bottom: 18px;
  }
}