.product{
  &:hover .product__description-wrap{
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
}
.product__img{
  display: block;

  img{
    width: 100%;
  }
}
.product__description-wrap{
  flex-grow: 1;
  border: 1px solid #ececec;
  transition: all 0.2s linear;
}
.product__description{
  display: block;
  margin: 26px 28px 19px;
  text-decoration: none;
}
.product__title{
  font-size: 17px;
  line-height: 24px;
  font-family: "Opensansbold", "Arial", sans-serif;
  color: $color-black;
  margin-bottom: 6px;
  transition: all 0.2s linear;

  &:hover{
    opacity: 0.6;
  }

  &:active{
    opacity: 0.3;
  }
}
.product__link{
  display: block;
  text-decoration: none;
  color: $color-black;
}
.product__prop-text{
  display: block;
  color: $color-dark-gray;
  font-size: 13px;
  line-height: 30px
}
.product__footer{
  margin: 0 28px 27px 28px;
  border-top: 1px solid #ececec;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.product__price{
  font-size: 15px;
  line-height: 24px;
  font-family: "Opensansbold", "Arial", sans-serif;
}
.product__icon-add-cart{
  display: flex;
  justify-content: flex-end;

  &:hover .product__icon{
    fill: $color-green;
  }

  &:active{
    opacity: 0.5;
  }
}
.product__icon{
  fill: #cccccc;
  transition: all 0.2s linear;
}
@include interval(768px, 1149px){
  .product{
    display: flex;
    width: 100%;
    margin-bottom: 55px;
  }
  .product__img{
    width: 50%;
  }
  .product__description-wrap{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product__description{
    margin-top: 0;
  }
  .product__title{
    font-size: 20px;
    margin-bottom: 4px;
    line-height: 24px;
    margin-top: 26px;
  }
  .product__prop-text{
    font-size: 15px;
  }
  .product__footer{
    margin: 0 32px 24px 32px;
    padding-top: 22px;
  }
  .product__price{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5px;
  }
}
@include adaptive(pc){
  .product{
    vertical-align: top;
    display: flex;
    flex-direction: column;
  }
  .product__img{
    overflow: hidden;
  }
  .product__description-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product__description{
    margin-top: 24px;
    margin-bottom: 14px;
    margin-left: 26px;
  }
  .product__title{
    font-size: 20px;
    margin-bottom: 6px;
    line-height: 24px;
    margin-top: 0;
  }
  .product__prop-text{
    font-size: 15px;
  }
  .product__footer{
    margin-left: 26px;
    padding-top: 22px;
  }
  .product__price {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  .product__icon-add-cart {
    margin-right: 5px;
    margin-top: -2px;
  }
}
