.products-prop{
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  line-height: 20px;
}
.products-prop__name{
  flex-shrink: 0;
  width: 80px;
  margin-right: 18px;
  font-size: 15px;
  line-height: 20px;
}
.products-prop__description{
  flex-grow: 4;
  font-size: 15px;
  margin-left: 0;
  line-height: 20px;
}
@include adaptive(pc){
  .products-prop {
    padding: 10px 0 10px;
  }
}
