.product-of-week{
  padding-top: 28px;
  padding-bottom: 42px;
  background-color: transparent;
  background-image: url(../../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: 300px;
}
.product-of-week__container{
  padding-left: 30px;
  padding-right: 30px;
}
.product-of-week__title{
  font-size: 25px;
  margin: 0;
  line-height: 30px;
  margin-bottom: 6px;
}
.product-of-week__subtitle{
  text-transform: uppercase;
  color: $color-green;
  font-size: 17px;
  line-height: 20px;
  font-family: "Opensansbold", "Arial", sans-serif;
  display: block;
  margin-bottom: 22px;
}
.product-of-week__description{
  font-size: 15px;
  color: $color-dark-gray;
  margin-bottom: 17px;
}
.product-of-week__list{
  margin-bottom: 28px;
}
.product-of-week__images{
  margin: 0;

  img{
    max-width: auto;
    height: 100%
  }
} 
.product-of-week__price{
  text-align: center;
  display: block;
  padding: 20px 0 15px;
  letter-spacing: 0;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 24px;
  text-indent: -6px;
}
@include adaptive(tablet){
  .product-of-week{
    background-size: 750px;
    background-position: left bottom;
  }
  .product-of-week__container{
    padding-left: 48px;
    padding-right: 50px;
  }
  .product-of-week__header{
    height: 82px;
  }
  .product-of-week__subtitle{
    width: 138px;
    text-align: center;
    line-height: 1.1;
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 12px;
    letter-spacing: 1px;
  }
  .product-of-week__body{
    width: 50%;
    position: relative;
    padding-right: 42px;
    box-sizing: border-box;
  }
  .product-of-week__description{
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 36px;
  }
  .product-of-week__list{
    margin-bottom: 38px;
  }
  .product-of-week__images{
    position: absolute;
    left: 100%;
    top: 6px;
    bottom: 0;
    background-size: cover;
    width: 100%;
  }
  .product-of-week__price{
    margin-bottom: 16px;
    padding: 18px 0 18px;
    letter-spacing: 1px;
    text-indent: 0;
  }
  .product-of-week__btn{
    text-indent: 6px;
  }
}
@include interval(768px, 1150px){
  .product-of-week{
    padding-top: 42px;
    padding-bottom: 68px;
    margin-bottom: 20px;
    letter-spacing: -0.2px;
  }
  .product-of-week__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  }
  .product-of-week__title{
    width: 90%;
  }
}
@include adaptive(pc){
  .product-of-week{
    padding-top: 68px;
    background-size: 1150px;
    padding-bottom: 96px;
    margin-bottom: 26px;
  }
  .product-of-week__header{
    height: auto;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .product-of-week__title{
    font-size: 53px;
    line-height: 1.2;
    letter-spacing: -0.3px;
  }
  .product-of-week__subtitle{
    width: 112px;
    font-size: 16px;
    max-width: 100%;
    order: -1;
    margin-right: 38px;
    margin-left: 32px;
    margin-top: 10px;
  }
  .product-of-week__body{
    padding-left: 177px;
    width: 50%;
    padding-right: 60px;
  }
  .product-of-week__description{
    margin-bottom: 48px;
  }
  .product-of-week__list{
    margin-bottom: 88px;
  }
  .product-of-week__images{
    top: -158px;
    width: 100%;
  }
  .product-of-week__price {
    padding: 18px 0 19px;
    letter-spacing: 1px;
    text-indent: 5px;
  }
  .product-of-week__btn{
    width: 289px;
  }
}