.reviews{
  margin-bottom: 40px;
}
.reviews .container{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom:52px;
}
.reviews__list{
  margin-bottom: 32px;
}
.reviews__title{
  font-size: 25px;
  margin-bottom: 20px;
}
.reviews__text{
  margin-bottom: 25px;
  line-height: 2;
}
.reviews__cite{
  font-size: 18px; 
  line-height: 1.5;
  font-family: 'Opensansbold', 'Arial',sans-serif;
  display: block;
  margin-bottom: 5px;
}
.reviews__contacts{
  font-size: 17px;
  line-height: 1.2;
}
.reviews__arrow-wrap{
  @include clearfix();
  margin-bottom: 40px;
  display: flex;
}
.reviews__btn-slider{
  width: 50%;
  display: block;
  border: 1px solid #ececec;
  height: 50px;
  box-sizing: border-box;
}
.reviews__btn-slider--left{
  border-left-color: transparent
}
.reviews__arrow{
  display: block;
  height: 50px;
  text-align: center;
  @include transition(.2s);
}
.reviews__arrow svg{
  height: 100%;
}
.reviews__btn-slider--left{
  transform: rotate(180deg);
}
.reviews__btn-slider:hover .reviews__arrow{
  opacity:.5;
}
.reviews__btn-slider:active .reviews__arrow{
  opacity:.3;
}
@include adaptive(tablet){
  .reviews__title{
    font-size: 43px;
    margin-bottom: 45px;
  }
  .reviews{
    background-size: 45% 100%;
    position: relative;
    padding-bottom: 52px;
    margin-bottom: 46px;
  }
  .reviews .container{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    background: url(../../img/review@1x.jpg) no-repeat left top;
  }
  .reviews__btn{
    position: absolute;
    right:50px;
    top: 80px;
    width: 168px;
  }
  .reviews__text{
    margin-bottom: 56px;
    font-size: 17px;
    line-height: 1.8;
  }
  .reviews__cite,.reviews__contacts{
    max-width: 50%;
  }
  .reviews__cite{
    font-size: 17px;
  }
  .reviews__arrow-wrap{
    width: 175px;
    position: absolute;
    right: 50px;
    bottom: 84px;
    margin-bottom: 0;
  }
  .reviews__btn-slider{
    border:none;
  }
}
@include adaptive(pc){
  .reviews__title{
    font-size: 53px;
    margin-bottom: 37px;
  }
  .reviews .container{
    padding-left: 225px;
    padding-top: 64px;
    padding-bottom: 60px;
    background-position: 50px center;
  }
  .reviews__text {
    margin-bottom: 37px;
  }
  .reviews {
    padding-bottom: 92px;
    margin-bottom: 72px;
  }
   .reviews__arrow-wrap{
    bottom: 94px;
  }
}

