.search{
  position: relative;
  display: block;
}
.search__field{
  border: none;
  width: 100%;
  height: 78px;
  padding-left: 45px;
  font-size: 17px;
  font-weight: bold;
}
.search__icon{
  position: absolute;
  top: 0px;
  bottom: 0;
  height: 20px;
  margin: auto;
  left: 0;
  cursor: pointer;

  path{
    fill: #d3d2d2;
    transition: all 0.2s linear;
  }

  &:hover path{
    fill: $color-green;
  }

  &:active path{
    opacity: 0.5;
  }
}
@include adaptive(tablet){
  .search__field{
    display: none;
  }
}
