.social{
  font-size: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  padding-bottom: 8px;
  padding-left: 0;
}
.social__item{
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 18px 15px;
  width: 24px;
}
.social__link{
  display: block;

  &:hover .social__icon{
    fill: $color-green;
  }

  &:active{
    opacity: 0.7;
  }
}
.social__icon{
  width: 23px;
  height: 30px;
  transition: all 0.2s linear;
}
@include adaptive(tablet){
  .social{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .social__item{
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
