.title{
  font-size: 27px;
  line-height: 30px;
  font-family: "Opensansbold", "Arial", sans-serif;
  color: #231f20;
}
.title__link{
  color: $color-black;
  transition: all 0.2s linear;
  text-decoration: none;
  display: block;
  @include container();

  &:hover{
    color: rgba(0, 0, 0, 0.6);
  }

  &:active{
    color: rgba(0, 0, 0, 0.2);
  }
}
@include adaptive(tablet){
  .title{
    font-size: 43px;
    line-height: 50px;
  }
}
@include adaptive(pc){
  .title{
    font-size: 53px;
    line-height: 57px
  }
}
